@{
    ViewData["Title"] = "О нас";
}

<div class="container-fluid no-mp">
    <div class="col-10 offset-1 pt-3">
        <div class="container-fluid mb-2 my-3">
            <h3>О нас</h3>
            <p>
                Добро пожаловать в агентство <a class="link-dark" asp-controller="Home" asp-action="Index">ChronoVoyage</a>!
                Мы - команда энтузиастов, увлеченных идеей путешествий во времени.
                Наше агентство было основано с одной простой, но захватывающей целью: сделать возможным то, что казалось невозможным. М
                ы создали уникальную платформу, где исследование и приключения переплетаются с научными достижениями, чтобы предложить
                вам неповторимые путешествия через время и пространство.
            </p>
            <h5>
                Наша миссия
            </h5>
            <p>
                Мы стремимся открыть для наших клиентов двери в прошлое и будущее, расширяя горизонты и предоставляя возможность погрузиться
                в удивительные эпохи человеческой истории или взглянуть вдаль на потрясающие виды будущего. Наша миссия - вдохновить вас
                на уникальные приключения и помочь воплотить ваши мечты о временных путешествиях в реальность.
            </p>
            <h5>
                Наш подход
            </h5>
            <p>
                <a class="link-dark" asp-controller="Home" asp-action="Index">ChronoVoyage</a> - это не просто агентство по продаже туров. Мы - ваш партнер в путешествии, ваш проводник в мире времени.
                Наша команда состоит из опытных специалистов, каждый из которых привержен идее обеспечения безопасности, комфорта и незабываемых
                впечатлений для каждого клиента. Мы тщательно планируем каждую деталь вашего путешествия, чтобы оно было совершенным и неповторимым.
            </p>
            <h5>
                Наши услуги
            </h5>
            <p>
                Мы предлагаем широкий спектр услуг, включая:
                <ul>
                    <li>Экскурсии в ключевые исторические эпохи.</li>
                    <li>Путешествия в будущее, чтобы увидеть современные технологии и достижения.</li>
                    <li>Персонализированные маршруты, соответствующие вашим интересам и предпочтениям.</li>
                    <li>Консультации экспертов по безопасности и медицинскому обслуживанию для гарантии вашего комфорта и благополучия.</li>
                </ul>
            </p>
            <h5>
                Наша цель
            </h5>
            <p>
                Мы стремимся стать вашим надежным партнером в каждом вашем временном приключении. Наша цель - не просто продать вам тур,
                а создать для вас незабываемый опыт, который останется с вами на всю жизнь. Мы гордимся тем, что помогаем нашим клиентам
                пересекать границы времени и пространства, расширяя их взгляды и впечатления.
            </p>
            <p>
                Присоединяйтесь к нам сегодня и откройте для себя мир временных путешествий с <a class="link-dark" asp-controller="Home" asp-action="Index">ChronoVoyage</a>!
            </p>
        </div>
        <div>
        </div>
    </div>
</div>
