@using System.Security.Claims;

@{
    ViewData["Title"] = "Главная";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Вы авторизованы!</h2>
    @if (User.IsInRole("Admin"))
    {
        <p>Привет, Админ!</p>
    }
    else if (User.IsInRole("Moderator"))
    {
        <p>Привет, Модератор!</p>
    }
    else
    {
        <p>Привет, Пользователь!</p>
        <a asp-controller="Profile" asp-action="EditProfile" asp-route-id="@Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier).Value)" >Изменить профиль</a>
    }
     <form method="post" asp-controller="Account" asp-action="Logout">
        <input  type="submit" value="Выход" />
     </form>

     <form method="post" asp-controller="Order" asp-action="GetBasket" asp-route-userId="@Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier).Value)">
        <input  type="submit" value="Корзина" />
     </form>
}
else
{
    <h2>Вы НЕ авторизованы!</h2>
    <a asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
    <a asp-controller="Account" asp-action="Login">Войти</a>
}
