
<div>
    <h4>Политика конфиденциальности</h4>
    <p class="py-2">
        В ChronoVoyage мы стремимся сделать покупки безопасными и приятными. Эта Политика конфиденциальности описывает, как собирается,
        используется и передается ваша личная информация, когда вы посещаете сайт или совершаете покупку у <a asp-action="Index">www.ChronoVoyage.com</a>
        в соответствии с Общими правилами защиты данных и другим применимым законодательством о защите данных.При совершении покупок на
        <a asp-action="Index">www.ChronoVoyage.com</a>  мы можем собирать личную информацию, которую вы предоставляете нам при создании
        учетной записи, совершении покупки, а также данные, собираемые с помощью файлов cookie.
    </p>
    <h5>
        Что такое файлы cookie?
    </h5>
    <p class="py-2">
        Cookies - это очень маленькие текстовые файлы, которые сохраняются на жестком диске вашего устройства, когда вы посещаете веб-сайты.
        Мы используем собственные и сторонние cookies для основных целей; веб-функциональности, веб-статистики и рекламы.
    </p>
    <h5>
        Почему мы используем файлы cookie?
    </h5>
    <p class="py-2">
        Некоторые файлы cookie необходимы для правильной работы веб-сайта. Файлы cookie отслеживают ваши настройки и делают ваш процесс покупок
        более удобным, например, распознают ваше устройство и запоминают ваши предпочтения и настройки. Файлы cookie также используются для сбора
        данных об использовании, таких как продолжительность сеанса, просмотренные страницы, была ли совершена транзакция, или демографических данных,
        таких как происхождение, пол и возраст. Эта информация используется в аналитических целях и позволяет нам создавать для вас наилучшие
        впечатления от покупок. Используемые нами файлы cookie не собирают никакой информации, которая может быть использована для отслеживания или
        идентификации физических лиц.
    </p>
    <h5>
        Какую информацию мы собираем?
    </h5>
    <p class="py-2">
        Мы собираем информацию, которую вы предоставляете нам при создании учетной записи, подписке на нашу рассылку новостей или при совершении
        покупки. Этой информацией может быть ваше имя, адрес, контактная информация и т.д. Файлы cookie могут собирать информацию о сеансе, такую как
        просмотренные страницы, продолжительность сеанса, совершенные транзакции и демографические данные, такие как происхождение, пол.
    </p>
    <h5>
        Третьи лица
    </h5>
    <p class="py-2">
        Информация, которую мы собираем, может быть передана нашим близким партнерам в аналитических целях. Никакая личная информация не будет
        передаваться, продаваться или публиковаться за пределами нашей организации и наших надежных партнеров.
    </p>
    <h5>
        Раскрытие вашей информации
    </h5>
    <p class="py-2">
        Вы имеете право запросить доступ к своим данным, и если что-то неверно, вы можете изменить или удалить это.
        Вы можете отключить все уже сохраненные файлы cookie на вашем компьютере, изменив настройки вашего браузера для файлов cookie, вы также
        можете использовать программы отказа, такие как “Потребительский отказ NAI” или “Дополнение браузера для отказа от Google Analytics”,
        чтобы предотвратить использование файлов cookie, пожалуйста, имейте в виду, что эти настройки могут помешать нормальной работе нашего
        веб-сайта.
    </p>
    <h5>
        Информационные бюллетени:
    </h5>
    <p class="py-2">
        В целях персонализированной рассылки новостей и индивидуального маркетинга мы используем ваше имя, адрес электронной почты, детали
        транзакций, историю покупок, например, как часто вы покупаете туры и какого рода туры вы приобрели (направления, век, экскурсии).
    </p>
    <h5>
        Изменения:
    </h5>
    <p class="py-2">
        Наша Политика конфиденциальности может время от времени меняться, например, в связи с изменениями в нашей практике или по другим операционным,
        юридическим или нормативным причинам. Все обновления будут публиковаться на этой странице. Если у вас есть какие-либо вопросы относительно
        нашей политики конфиденциальности, пожалуйста, свяжитесь с <a>info@ChronoVoyage.info</a>
    </p>
</div>