@{
    ViewData["Title"] = "Путеводитель";
}

<div class="no-mp">
    <div class="container-fluid" style="background-color: rgb(24,26,30)">
        <div class="row justify-content-center">
            <div class="col-8 my-5">
                <img class="img-fluid" src="~/images/TravelGuide/1.webp" alt="img">
            </div>
        </div>
    </div>

</div>