@model TimeTravelAgency.Domain.Entity.Tour


<div class="container">
    <form asp-action="CreateTour" asp-controller="Tour">
        <div class="row mx-3 mb-3">
            <div class="col-4">
                <label asp-for="TypeTour">Тип тура</label><br />
                <select class="form-select" asp-for="TypeTour" asp-items="Html.GetEnumSelectList<TimeTravelAgency.Domain.Enum.TypeTour>()">
                </select>
            </div>
            <div class="col-8">
                <label asp-for="Title">Название: </label>
                <input type="text" asp-for="Title" class="form-control" />
            </div>
        </div>
        <div class="row mx-3 mb-3">
            <div class="col">
                <label asp-for="DateStart">Дата начала: </label>
                <input type="date" asp-for="DateStart" class="form-control" />
            </div>
            <div class="col">
                <label asp-for="DateEnd">Дата окончания: </label>
                <input type="date" asp-for="DateEnd" class="form-control" />
            </div>
        </div>
        <div class="row mx-3 mb-3 px-2">
            <label asp-for="Descriptions">Описание: </label>
            <textarea class="form-control" rows="7" asp-for="Descriptions"></textarea>
        </div>
        <div class="row mx-3 mb-3">
            <div class="col">
                <label asp-for="Price">Цена: </label>
                <div class="input-group mb-3">
                    <input type="number" asp-for="Price" class="form-control" />
                    <span class="input-group-text">₽</span>
                </div>
            </div>
            <div class="col">
                <label asp-for="NumberOfPlaces">Количество мест: </label>
                <input type="number" asp-for="NumberOfPlaces" class="form-control" />
            </div>
        </div>

        <div class="modal-footer justify-content-center">
            <button class="btn btn-outline-dark col-4" type="submit">Добавить</button>
        </div>
    </form>

</div>