@model TimeTravelAgency.Domain.Entity.Tour

@{
    ViewBag.Title = "Создать тур";
    Layout = "_Layout";
}

<h2>Добавить тур</h2>
<form asp-action="CreateTour" asp-controller="Tour">
    <p>
        <label asp-for="TypeTour">Тип тура</label><br />
        <select asp-for="TypeTour" asp-items="Html.GetEnumSelectList<TimeTravelAgency.Domain.Enum.TypeTour>()"></select>
    </p>
    <p>
        <label asp-for="Title">Название</label><br />
        <input type="text" asp-for="Title" />
    </p>
    <p>
        <label asp-for="DateStart">Дата начала</label><br />
        <input type="date" asp-for="DateStart" />
    </p>
    <p>
        <label asp-for="DateEnd">Дата окончания</label><br />
        <input type="date" asp-for="DateEnd" />
    </p>
    <p>
        <label asp-for="Descriptions">Описание</label><br />
        <input type="text" asp-for="Descriptions" />
    </p>
    <p>
        <label asp-for="Price">Цена</label><br />
        <input type="number" asp-for="Price" /> ₽
    </p>
    <p>
        <label asp-for="NumberOfPlaces">Количество мест</label><br />
        <input type="number" asp-for="NumberOfPlaces" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>