@model TimeTravelAgency.Domain.Entity.Tour
@using TimeTravelAgency.Domain.Enum

<div class="container">

    <form asp-action="UpdateTour" asp-controller="Tour" enctype="multipart/form-data" class="needs-validation">
        <div class="row mx-3 mb-3">
            <div class="col-4">
                <label asp-for="TypeTour">Тип тура</label><br />
                <select class="form-select" asp-for="TypeTour" asp-items="Html.GetEnumSelectList<TimeTravelAgency.Domain.Enum.TypeTour>()">
                </select>
            </div>
            <div class="col-8">
                <label asp-for="Title">Новое название: </label>
                <input type="text" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="row mx-3 mb-3">
            <div class="col">
                <label asp-for="DateStart">Новая дата начала: </label>
                <input type="date" asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart"></span>
            </div>
            <div class="col">
                <label asp-for="DateEnd">Новая дата окончания: </label>
                <input type="date" asp-for="DateEnd" class="form-control" />
                <span asp-validation-for="DateEnd"></span>
            </div>
        </div>
        <div class="row mx-3 mb-3 px-2">
            <label asp-for="Descriptions">Новое описание: </label>
            <textarea class="form-control" rows="5" asp-for="Descriptions"></textarea>
        </div>
        <div class="row mx-3 mb-3">
            <div class="col">
                <label asp-for="Price">Новая цена: </label>
                <div class="input-group mb-3">
                    <input type="number" asp-for="Price" class="form-control" />
                    <span class="input-group-text">₽</span>
                </div>
            </div>
            <div class="col">
                <label asp-for="NumberOfPlaces">Обновленное количество мест: </label>
                <input type="number" asp-for="NumberOfPlaces" class="form-control" />
            </div>
        </div>
        <div class="row mx-3 mb-3">
            <div class="col">
                <label>Новое главное изображение: </label>
                <input name="uploadImage" type="file" class="form-control" />
            </div>
        </div>

        <div class="modal-footer justify-content-center">
            <button class="btn btn-outline-dark col-4" id="btnUpdate" type="submit">Изменить</button>
        </div>
    </form>

</div>